<html>
    <body style="background-color: #0d1b2a;">
        
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/newform2.css') }}">
        <div class="img">
                <img src="{{user_image}}" style="width:200px;">
        </div><br><br>
        <div class="par">
        <h2>Chest CT Scan detection application is a cancer detection application using deep learning (CNN) used to detect and diagnose cancer around chest region of the patient, this application will give the information about the type of cancer mainly Adenocarcinoma, Large Cell Carcinoma, Squamous Cell Carcinoma and Normal Cell. </h2>
    </div>
        <div>
            <div class="input2-block2" style="margin-top: 10%;">
                <form method="post" action="/predict">
                <label for="fname" class="input2-label2">Upload CT-Scan Image</label>
                <img src="{{new}}" style="width: 50px;height: 50px; ">
                <input type="file" name="fname" id="fname">
              </div>
        
            <button type="submit" class="submit2" name="submit" id="final_report" value="submit" class="example_f modal-button">Predict</button>

       </div></div>
            </form>
          
           
       
       <br><br>
        {% if model_output %}
        <label>Output: {{ model_output }}</label>
    {% endif %}
    </body>
    
</html>